body {
    background-image:url("https://www.wallpapermania.eu/images/thumbs/2013-03/4586_Touch-the-galaxy-miracles-exist-HD-wallpaper.jpg");
  }
  h1{
    font-family:'Times New Roman', Times, serif;
  }
  h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  h3{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  p{
    border: 2px solid black;
    border-radius: 12px;
    padding: 5px;
  }
  (825 kB)
  https://blog.playo.co/wp-content/uploads/2017/07/cycle-hd.jpg
  

  body {
      background-image:url("https://blog.playo.co/wp-content/uploads/2017/07/cycle-hd.jpg");
    }
    h1{
      font-family:'Times New Roman', Times, serif;
    }
    h2{
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    h3{
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    p{
      border: 4px solid rgb(194, 59, 59);
      border-radius: 20px;
      padding: 8px;
    }
  h1{
      background-color: aqua;
  }
  p {
      background-color: deeppink;
  }
  h2{
      background-color: aqua;
  }
  .topnav {
    overflow: hidden;
    background-color: #E9E9E9;
  }
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  .topnav a.active {
    background-color: #2196F3;
    color: white;
  }
  .topnav input[type=text] {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    font-size: 17px;
  }