body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREWE0olZqns6Aguu-c7_YVpXxgbCj1GznvDw&usqp=CAU");
}
a {
  color: red;
}
  /* visited link */
a:visited {
color: green;
}
/* mouse over link */
a:hover {
color: purple;
}
/* selected link */
a:active
