#dheen1{
    background-image: conic-gradient(rgb(0, 255, 242), rgb(255, 0, 212), rgb(0, 30, 128));
  }
  #dheen2{
    background-image: conic-gradient(rgb(0, 255, 242), rgb(234, 0, 255), rgb(200, 116, 211));
  }
  #dheen3{
    background-image: conic-gradient(rgb(0, 225, 255), rgb(255, 0, 234), rgb(0, 102, 128));
  }
  #dheen4{
    background-image: conic-gradient(rgb(255, 0, 242), rgb(0, 247, 255), rgb(128, 0, 111));
  }
